<div class="calculator container-fluid" ng-controller="CalculatorCtrl as calculator">
    <div class="row">
        <textarea type="text" class="form-control" ng-model="calculator.expression"></textarea>
    </div>
    <div class="row operations">
        <div class="btn-group">
            <button type="button" class="btn btn-default" data-ng-click="calculator.addSymbol('%')">%</button>
            <button type="button" class="btn btn-default" data-ng-click="calculator.addSymbol('*')">X</button>
            <button type="button" class="btn btn-default" data-ng-click="calculator.addSymbol('-')">-</button>
            <button type="button" class="btn btn-default" data-ng-click="calculator.addSymbol('+')">+</button>
        </div>
    </div>
    <div class="row digits">
        <div class="btn-group">
            <button type="button" class="btn btn-default" data-ng-click="calculator.addSymbol('7')">7</button>
            <button type="button" class="btn btn-default" data-ng-click="calculator.addSymbol('8')">8</button>
            <button type="button" class="btn btn-default" data-ng-click="calculator.addSymbol('9')">9</button>
        </div>
    </div>
    <div class="row digits">
        <div class="btn-group">
            <button type="button" class="btn btn-default" data-ng-click="calculator.addSymbol('4')">4</button>
            <button type="button" class="btn btn-default" data-ng-click="calculator.addSymbol('5')">5</button>
            <button type="button" class="btn btn-default" data-ng-click="calculator.addSymbol('6')">6</button>
        </div>
    </div>
    <div class="row digits">
        <div class="btn-group">
            <button type="button" class="btn btn-default" data-ng-click="calculator.addSymbol('1')">1</button>
            <button type="button" class="btn btn-default" data-ng-click="calculator.addSymbol('2')">2</button>
            <button type="button" class="btn btn-default" data-ng-click="calculator.addSymbol('3')">3</button>
        </div>
    </div>
    <div class="row digits">
        <div class="btn-group">
            <button type="button" class="btn btn-default" data-ng-click="calculator.addSymbol('.')">.</button>
            <button type="button" class="btn btn-default" data-ng-click="calculator.addSymbol('0')">0</button>
            <button type="button" class="btn btn-default" data-ng-click="calculator.equate()">=</button>
        </div>
    </div>
</div>

<p class="text-center back-btn">
    <a ng-show="main.isPageOpen(main.pageType.CALCULATOR)" data-ng-click="main.open(main.pageType.HOME)" class="btn btn-primary">
        BACK
    </a>
</p>